{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ COPY.content.project_name|smarty }}</h1>
                <h2>{{ COPY.content.subhead|smarty }}</h2>
                <div id="story-meta">
                    <p class="byline">by <span>{{ COPY.content.byline }}</span></p>
                    <p class="dateblock">
                        <span class="date">{{ COPY.content.pubdate }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">

            {{ COPY.content.main_intro }}

            {% for story in COPY.stories %}
                <div class="story">
                    <a href="{{story.link}}"><img src="{{story.image}}" class="pull-left story-image img-thumbnail">
                    <h4>{{story.title}}</h4></a>
                    <small>by {{story.byline}}</small>
                    <p>{{story.description}}</p>
                </div>
            {% endfor %}
            <div class="soundcloud-wrapper">
                <iframe class="soundcloud" height="350" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/64751499&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_artwork=false"></iframe>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
        <h2>Where is gentrification in Chicago?</h2>
            <p class="pull-left map-explainer">
                {{COPY.content.map_graph}}
            </p>

                <div id='legend'>
                    <div class="socio-map-legend">
                      <strong>2010 Socioeconomic factors</strong>
                      <nav class='legend clearfix'>
                        <span style='background:#a6611a;'></span><label>-13 to -7</label>
                        <span style='background:#dfc276;'></span><label>-6 to 0</label>
                        <span style='background:#f5f5f5;'></span><label>0</label>
                        <span style='background:#80cdc1;'></span><label>1 to 6</label>
                        <span style='background:#018571;'></span><label>7+</label>
                    <p>{{COPY.content.socio_map_legend}}</p>
                    </div>
                    <div class="index-map-legend">
                      <strong>Change in score from 1970-2010</strong>
                      <nav class='legend clearfix'>
                        <span style='background:#ffffbf;'></span><label>Stable Upper Class</label>
                        <span style='background:#fee090;'></span><label>Stable Middle Class</label>
                        <span style='background:#74add1;'></span><label>Poverty</label>
                        <span style='background:#4575b4;'></span><label>Extreme Poverty</label>
                        <span style='background:#a6d96a;'></span><label>Not Gentrification</label>
                        <span style='background:#1a9850;'></span><label>Gentrification</label>
                        <span style='background:#b2abd2;'></span><label>Mild Decline</label>
                        <span style='background:#8073ac;'></span><label>Moderate Decline</label>
                        <span style='background:#542788;'></span><label>Serious Decline</label>
                    <p>{{COPY.content.socio_map_legend}}</p>
                    </div>
                </div>
        </div>
        <div class="col-sm-8 map-container">
            <button type="button" class="btn btn-info socio-btn">2010 Socioeconomic score</button>
            <button type="button" class="btn btn-default index-btn">Socioeconomic change, 1970-2010</button>
            <div id='map_socio'></div>
            <div id='map_index'></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
        <h2>Explore the Community Areas</h2>
            <p class="pull-left map-explainer">
                {{COPY.content.community_areas}}
            </p>
                <div class="main-table">
                    <table id="data" class="table table-striped table-condensed" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Community Area</th>
                                <th>Population</th>
                                <th>White %</th>
                                <th>Black %</th>
                                <th>Hispanic %</th>
                                <th class="hidden-sm hidden-xs">Elderly (65+) %</th>
                                <th class="hidden-sm hidden-xs">Children (5-19) %</th>
                                <th class="hidden-xs">Median Family Income</th>
                                <th class="hidden-xs">Median Home Value</th>
                                <th class="hidden-sm hidden-xs">Owner-Occupied housing %</th>
                                <th class="hidden-sm hidden-xs">College Education %</th>
                                <th class="hidden-xs">Families in poverty %</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for row in COPY.community_area_data %}
                        <tr>
                            <td>{{ row.Community_Area }}</td>
                            <td>{{ row.Pop_10 | format_comma}}</td>
                            <td>{{ '%0.f'| format(row.Wht_10|float) }}</td>
                            <td>{{ '%0.f'| format(row.Blk_10|float) }}</td>
                            <td>{{ '%0.f'| format(row.His_10|float) }}</td>
                            <td class="hidden-sm hidden-xs">{{ '%0.f'| format(row.P65_10|float) }}</td>
                            <td class="hidden-sm hidden-xs">{{ '%0.f'| format(row.P5to19_10|float) }}</td>
                            <td class="hidden-xs">{{ row.income_10 | format_currency }}</td>
                            <td class="hidden-xs">{{ row.Hval_10 | format_currency }}</td>
                            <td class="hidden-sm hidden-xs">{{ '%0.f'| format(row.owner_10|float) }}</td>
                            <td class="hidden-sm hidden-xs">{{ '%0.f'| format(row.college_10|float) }}</td>
                            <td class="hidden-xs">{{ '%0.f'| format(row.Pov_10|float) }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">

$('.socio-btn').click(function(){
    $('#map_socio, .socio-map-legend').show();
    $('#map_index, .index-map-legend').hide();
    $(".socio-btn").removeClass( "btn-default" ).addClass( "btn-info" );
    $(".index-btn").removeClass( "btn-info" ).addClass( "btn-default" );
})

$('.index-btn').click(function(){
    $('#map_socio, .socio-map-legend').hide();
    $('#map_index, .index-map-legend').show();
    $(".socio-btn").removeClass( "btn-info" ).addClass( "btn-default" );
    $(".index-btn").removeClass( "btn-default" ).addClass( "btn-info" );
})

</script>

{% endblock extra_foot %}